---
layout: default
---

<a href="/" class="feature ratio--16x9" style="background-image: url(/media/mh_helloworld.jpg);">
	<div class="ratio__content">
		<div class="feature__content">
			<div class="feature__content-inner">
				<div class="feature__meta">Inspirational / SEP.21.2014 / Matt Brailsford</div>
				<h2 class="feature__heading">HELLO WORLD</h2>
			</div>
		</div>
	</div>
</a>

<h2 class="margin-none">Latest</h2>
<hr />

<div class="grid">
	<div class="grid__row">
		{% for post in paginator.posts %}
		<article class="grid__item post-summary">
			{% if post.masthead %}
			<a href="{{ site.baseurl }}{{ post.url }}" class="ratio--16x9 post__thumb" style="background-image: url({{ post.masthead }});">
				<div class="ratio__content post__thumb-overlay"></div>
			</a>
			{% endif %}
			<div class="post__content">
				<div class="post__meta">Category / {{ post.date | date: "%b.%e.%Y" }} / Matt Brailsford</div>
				<h3 class="post__heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				{% if post.excerpt %}
					<p class="post__excerpt">{{ post.excerpt }}</p>
				{% endif %}
			</div>
		</article>
	{% endfor %}
	</div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination__prev">Older<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination__next">Newer<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
</div>
{% endif %}