---
layout: default
---

{% assign latest_post = site.posts.first %}
{% if latest_post and paginator.page == 1 %}
<a href="{{ site.baseurl }}{{ latest_post.url }}" class="feature ratio--16x9" style="background-image: url({{ latest_post.image }});">
	<div class="ratio__content">
		<div class="feature__content">
			<div class="feature__content-inner">
				<div class="feature__meta">
					{{ latest_post.date | date: "%b.%d.%Y" }}
					{% if latest_post.author.name %}
					/ {{ latest_post.author.name }}
					{% elsif latest_post.author.twitter %}
					/ @{{ latest_post.author.twitter }}
					{% endif %}
				</div>
				<h2 class="feature__heading">{{ latest_post.title }}</h2>
			</div>
		</div>
	</div>
</a>
{% endif %}

{% if paginator.page == 1 %}
<h3 class="margin-none">Latest</h3>
<hr class="margin-top-xsmall" />
{% endif %}

<div class="grid">
	<div class="row">
		{% for post in paginator.posts %}
		<article class="col-xs-12 col-sm-6 col-lg-4 post-summary">
			{% if post.image %}
			<a href="{{ site.baseurl }}{{ post.url }}" class="ratio--16x9 post__thumb" style="background-image: url({{ post.image }});">
				<div class="ratio__content post__thumb-overlay"></div>
			</a>
			{% endif %}
			<div class="post__content">
				<div class="post__meta">
					{{ post.date | date: "%b.%d.%Y" }} 
					{% if post.author.name %}
					/ {{ post.author.name }}
					{% elsif post.author.twitter %}
					/ @{{ post.author.twitter }}
					{% endif %}
				</div>
				<h3 class="post__heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
				{% if post.excerpt %}
					<p class="post__excerpt">{{ post.excerpt | strip_html | truncatewords:50 }}</p>
				{% endif %}
			</div>
		</article>
	{% endfor %}
	</div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination__prev">Older<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination__next">Newer<span class="hidden-on-mobile"> posts</span></a>
    {% endif %}
</div>
{% endif %}