    <!-- General -->
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Social -->
    <meta name="twitter:site" content="@theintdev" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />

    <!-- Title -->
    {% if page.meta_title %}
    <title>{{ page.meta_title }} | {{ site.title }}</title>
    {% elsif page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }} – {{ site.description }}</title>
    {% endif %}

    {% if page.meta_title %}
    <meta property="og:title" content="{{ page.meta_title | replace: '"', '&quot;' }}" />
    <meta name="twitter:title" content="{{ page.meta_title | replace: '"', '&quot;' }}" />
    {% elsif page.title %}
    <meta property="og:title" content="{{ page.title | replace: '"', '&quot;' }}" />
    <meta name="twitter:title" content="{{ page.title | replace: '"', '&quot;' }}" />
    {% else %}
    <meta property="og:title" content="{{ site.title }} – {{ site.description }}" />
    <meta name="twitter:title" content="{{ site.title }} – {{ site.description }}" />
    {% endif %}

    <!-- Description -->
    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description | strip_html | replace: '"', '&quot;' }}" />
    <meta property="og:description" content="{{ page.meta_description | strip_html | replace: '"', '&quot;' }}" />
    <meta name="twitter:description" content="{{ page.meta_description | strip_html | replace: '"', '&quot;' }}" />
    {% elsif page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | replace: '"', '&quot;' }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | replace: '"', '&quot;' }}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | replace: '"', '&quot;' }}" />
    {% else %}
    <meta name="description" content="{{ site.description  | replace: '"', '&quot;' }}">
    <meta property="og:description" content="{{ site.description  | replace: '"', '&quot;' }}" />
    <meta name="twitter:description" content="{{ site.description | replace: '"', '&quot;' }}" />
    {% endif %}

    <!-- Image -->
    {% if page.image %}
    {% if page.image contains "http" %}
    <meta property="og:image" content="{{ page.image }}" />
    <meta name="twitter:image" content="{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="{{ page.image | absolute_url}}" />
    <meta name="twitter:image" content="{{ page.image | absolute_url }}" />
    {% endif %}
    {% endif %}

    <!-- Author -->
    {% if page.author.name %}
    <meta name="author" content="{{ page.author.name }}" />
    {% elsif site.author.name %}
    <meta name="author" content="{{ site.author.name }}" />
    {% else %}
    <meta name="author" content="{{ site.title }}" />
    {% endif %}

    {% if page.author.twitter %}
    <meta name="twitter:creator" content="@{{ page.author.twitter }}" />
    {% elsif site.author.twitter %}
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />
    {% endif %}  