<div class="page-footer">
  <div class="row">
    <div class="page-footer__col1 col-sm-6">
      <div class="box bg-teal" style="height:100%;">
        <h3>Join our mailing list</h3>
        <h5>Here's what you can expect from us</h5>
        <ul>
          <li>The latest data and studies on social media best practises to get ahead</li>
          <li>In-depth how to guides on what works best when posting on social media</li>
          <li>Unique insights into our own experiments for growing our audience on social media</li>
        </ul>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//theintdev.us16.list-manage.com/subscribe/post?u=59a170214d824fcaab18fc1f5&amp;id=4d6f9649ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_59a170214d824fcaab18fc1f5_4d6f9649ed" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="page-footer__col2 col-sm-6">
      <div class="box bg-grey" style="height:100%;">
        <h3>Write for us</h3>
        <h5>Got a story to tell? or advise to share?</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio nibh, ultricies sed varius nec, hendrerit eu libero. Morbi eleifend tincidunt laoreet.</p>
        <a href="/" class="button">Submit an article</a>
      </div>
    </div>
  </div>
</div>