<div class="share padding-bottom">
    <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" class="share-link"><i class="mdi mdi-facebook"></i></a>
    <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=circuitbeard" rel="nofollow" target="_blank" class="share-link"><i class="mdi mdi-twitter"></i></a>
    <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" class="share-link"><i class="mdi mdi-linkedin"></i></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" class="share-link"><i class="mdi mdi-google-plus"></i></a>
</div>
