/* 
    ===============================
    STRUCTURE
    ===============================
*/

.social-links {
    @extend .bare;

    margin: 0 auto;
    padding-bottom: $global-spacing-unit-small;

    > li {
        display: inline-block;
    }
}

.social-links__link {

    @include font-size(20px, 20px);
    color: rgba(255,255,255,.4);

    @include hocus {
        color: white;
    }

}

.copyright {
    @include font-size(10px, 10px);  
    color: darken($brand-color-teal, 10%);
    text-transform: uppercase;
}

.post {
    margin-bottom: $global-spacing-unit-small;

    @media screen and (min-width: 62em){
        margin-bottom: $global-spacing-unit;
    }
}

.post__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post__content {
    padding: $global-spacing-unit-small 0;
    background-color: white;

    @media screen and (min-width: 48.5em){
        .post & {
            padding: $global-spacing-unit 0;
        }
    }
}

.post__meta {
    text-transform: uppercase;
    color: $brand-color-grey-dark;
    opacity: .5;

    @include font-size(12px, 20px);
}

.post__heading {
    text-transform: uppercase;

    a {
        color: $text-color;

        @include hocus {
            color: $brand-color-teal;
        }
    }
}

.post__thumb {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post__thumb-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    @include transition(background-color .25s ease);

    .post__thumb:hover &,
    .post__thumb:focus & {
        background-color: rgba(0,0,0,0.75);
    }
}

.share {
    @include font-size(20px, 20px);

    padding-top: $global-spacing-unit;

    a {
        color: $brand-color-grey;

        @include hocus {
            color: $brand-color-teal;
        }
    }
}

.comments {
    background-color: #f5f5f5;
    padding: $global-spacing-unit-small;

    @media screen and (min-width: 48.5em){
        padding: $global-spacing-unit;
        padding-right: 150px;
    }
}

.wide-content-core {
    //margin-left: $global-spacing-unit-small*-1;
    //margin-right: $global-spacing-unit-small*-1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: $global-spacing-unit-small;  

    @media screen and (min-width: 48.5em){
        //margin-left: $global-spacing-unit*-1;
        //margin-right: -150px;
        margin-right: -(150px - $global-spacing-unit);
        margin-bottom: $global-spacing-unit;  
    }
}

.image {
    @extend .wide-content-core;

    img {
        width: 100%;
    }
}

pre[class*="language-"] {
    @extend .wide-content-core;
  
    border: 0;
    border-radius: 0;
}

.gallery {
    //@extend .wide-content;

    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: $global-spacing-unit-small;  
      
    width: auto;

    @media screen and (min-width: 48.5em){
        margin-left: -10px;
        margin-right: -((150px + 10px) - $global-spacing-unit);
        margin-bottom: $global-spacing-unit;  
    }
}

.video {
    @extend .wide-content-core;
    @extend .ratio--16x9;

    iframe {
        @extend .ratio__content;
    }
}

.pagination {
    background-color: $brand-color-black;

    @include clearfix();
}

.pagination__prev,
.pagination__next {

    display: inline-block;
    font-family: 'Dosis', monospace;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: $global-spacing-unit-small;
    width: 50%;

    @include font-size(16px, 16px);   
    @include transition(background-color .25s ease);

    @media screen and (min-width: 458.5em){
        @include font-size(20px, $global-spacing-unit-large);  
        padding: 0 $global-spacing-unit;
    }

    @include hocus {
        color: white;
        background-color: $brand-color-teal;
    }
}

.pagination__next {
    float: right;
    text-align: right;
}

.feature {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: $global-spacing-unit-small;

    @media screen and (min-width: 62em){
        margin-bottom: $global-spacing-unit;
    }
}

.feature__content {
    display: table; 
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);

    @include transition(background-color .25s ease);

    .feature:hover & {
        background-color: rgba(0,0,0,.75);
    }
}

.feature__content-inner {
    display: table-cell; 
    width: 100%;
    height: 100%;
    vertical-align: middle;   
    text-align: center;
}

.feature__meta,
.feature__heading {
    color: white;
    text-transform: uppercase;
}

.feature__meta {
    @media screen and (max-width: 32em){
        display: none;
    }
}

.feature__heading {
    background-color: $brand-color-teal;
    padding: $global-spacing-unit-small;
    margin-top: $global-spacing-unit-small;

    @include font-size(22px, 22px);

    @media screen and (min-width: 32em){
        @include font-size(45px, 45px);
    }
}

.grid__row {
    display: flex;
    flex-flow: row wrap;
    margin-left: $global-spacing-unit-xsmall*-1;
    margin-right: $global-spacing-unit-xsmall*-1;

    @media screen and (min-width: 62em){
        margin-left: $global-spacing-unit-small*-1;
        margin-right: $global-spacing-unit-small*-1;
    }
}

.grid__item {
    padding-left: $global-spacing-unit-xsmall;
    padding-right: $global-spacing-unit-xsmall;

    
    @media screen and (min-width: 32em){
        width: 50%;
    }

    @media screen and (min-width: 62em){
        padding-left: $global-spacing-unit-small;
        padding-right: $global-spacing-unit-small;

        width: 33.33%;
    }
}