@font-face {
    font-family: "Instruction";
    src: url("../fonts/instruction.eot?") format("eot"), 
        url("../fonts/instruction.woff") format("woff"), 
        url("../fonts/instruction.ttf") format("truetype"), 
        url("../fonts/instruction.svg#Instruction") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Instruction";
    src: url("../fonts/instruction_bold.eot?") format("eot"), 
        url("../fonts/instruction_bold.woff") format("woff"), 
        url("../fonts/instruction_bold.ttf") format("truetype"), 
        url("../fonts/instruction_bold.svg#Instruction-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}