.row {
    margin-left: $global-spacing-unit-xsmall*-1;
    margin-right: $global-spacing-unit-xsmall*-1;

    @media screen and (min-width: 62em){
        margin-left: $global-spacing-unit-small*-1;
        margin-right: $global-spacing-unit-small*-1;
    }
}

[class^='col-'],
[class*=' col-'] {
    padding-left: $global-spacing-unit-xsmall;
    padding-right: $global-spacing-unit-xsmall;

    @media screen and (min-width: 62em){
        padding-left: $global-spacing-unit-small;
        padding-right: $global-spacing-unit-small;
    }
}