/* 
    ===============================
    STRUCTURE
    ===============================
*/

/* Page */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $brand-color-grey-dark;
    padding: 0;
    margin: 0;
}

/* Header */
.header {

    position: fixed;
    background-color: $brand-color-teal;
    color: #fff;
    height: 60px;
    width: 100%; 
    z-index: 10;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-left: -240px;
        }

        @include transition(margin-left .25s ease-in-out);

    }

    @media  screen and (min-width: 62em) {
        top: -1000px;
        margin-left: 0;
    }
}

.header__logo {
    padding-left: $global-spacing-unit-small;
}

.header__logo object,
.header__logo img {
    height: 30px;
    pointer-events: none;
    vertical-align: middle;
}

.header__logo-text {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: $global-spacing-unit-xsmall;

    @include font-size(25px, $global-spacing-unit-large);
}

.nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    width: $global-spacing-unit-large;
    text-align: center;

    @include font-size($global-spacing-unit, $global-spacing-unit-large);
    @include transition(background-color .25s ease);

    @include hocus {
        color: white;
        background-color: darken($brand-color-teal, 10%);
    }

    .nav__toggle-icon--close {
        display: none;
    }

    .surround--open & {
        .nav__toggle-icon--open {
            display: none;
        }
        .nav__toggle-icon--close {
            display: inline-block;
        }
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background-color: $brand-color-teal;
    color: white;
    text-align: center;
    padding-top: $global-spacing-unit;
    z-index: 6;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-right: 240px;
        }

        @include transition(margin-right .25s ease-in-out);

    }

    @media screen and (min-width: 62em) {
        left: 0;
        right: auto;
        margin-right: 0;
    }
}

.sidebar__logo {

    display: block;
    padding-top: $global-spacing-unit;

    object, img, svg {
        width: 170px;
        height: 170px;
    }

    object, svg {
        pointer-events: none;
    }

    @media  screen and (max-width: 62em) {
        display: none;
    }

}

.sidebar__logo-text {
    display: block;
    color: white;   
    font-weight: bold;
    text-transform: uppercase;
    margin-top: $global-spacing-unit-small;
    margin-bottom: $global-spacing-unit-large;

    @include font-size(16px, 16px);

    @media  screen and (max-width: 62em) {
        display: none;
    }
}

.sidebar__nav {
    padding-top: $global-spacing-unit;

    ul {
        @extend .bare;
    }

    a {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        line-height: $global-spacing-unit;

        @include hocus {
            color: darken($brand-color-teal, 10%);
        }

        &.active {
            color: darken($brand-color-teal, 10%);
        }
    }
}

.sidebar__bottom {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}

.body-wrapper {
    position: absolute;
    padding-top: $global-spacing-unit-large;
    width: 100%;
    z-index: 5;

    @media screen and (max-width: 62em) {

        .surround--open & {
            margin-left: -240px;
        }

        @include transition(margin-left .25s ease-in-out);
    }

    @media screen and (min-width: 62em) {
        padding-top: 0;
        padding-left: 240px;
    }
}

.body {
    max-width: 1200px;
    margin: 0;
}

footer {
    background-color: darken($brand-color-grey-dark, 10%);
    text-align: center;
    padding: $global-spacing-unit-small;

    p {
        color: rgba(255,255,255,0.25);
        margin: 0;
    }
}