---
layout: default
---

<article class="post">
    {% if page.masthead %}
    <div class="post__image ratio--21x9" style="background-image: url({{ page.masthead }});">
        <div class="ratio__content"></div>
    </div>
    {% endif %}
    <div class="post__content">
        <div class="post__meta">
            {{ page.date | date: "%b.%e.%Y" }} 
            {% if page.author_name %}
            / {{ page.author_name }}
            {% endif %}
        </div>
        <h1 class="post__heading h2">{{ page.title }}</h1>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                {{ content }}
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-3 col-lg-offset-1">
                SIDEBAR
            </div>
        </div>
        {% include share.html %}
    </div>
	{% include disqus.html %}
</article>