---
layout: default
---

<article class="post">
    {% if page.image %}
    <div class="post__image ratio--21x9" style="background-image: url({{ page.image }});">
        <div class="ratio__content"></div>
    </div>
    {% endif %}
    <div class="post__content">
        <div class="post__meta">
            {{ page.date | date: "%b.%d.%Y" }} 
            {% if page.author.name %}
            / {{ page.author.name }}
            {% elsif page.author.twitter %}
            / @{{ page.author.twitter }}
            {% endif %}
        </div>
        <h1 class="post__heading h2">{{ page.title }}</h1>
        <hr />
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {{ content }}
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
                <div class="sticky">
                    <hr class="visible-on-mobile" />
                    {% if page.author %}
                        {% include author.html author=page.author %} 
                    {% elsif site.author %}
                        {% include author.html author=site.author %}
                    {% endif %}
                    <h4>Share</h4>
                    {% include share.html %}
                </div>
            </div>
        </div>
        
    </div>
	{% include disqus.html %}
</article>